img {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 60px;
    opacity: 80%;
}
.bottombackground {
    position: relative;
    outline:   rgb(202, 202, 202) solid 1px;
    width: 100%;
    height: 500px;
    margin-top: -400px;
    background-color: rgb(236, 223, 215);
    text-align: center; 
    font-size: 2rem;
    line-height: 90px;
}