---
import Layout from "../layouts/Layout.astro"
import Card from "../components/parts/Card.astro"
import Button from "../components/parts/Button.astro"
import RecentBlogPosts from "../components/generic/RecentBlogPosts.astro"
---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-pink p-6'>
    <RecentBlogPosts />
  </main>
</Layout>