---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/navigation/navigation';
import Card from '../components/card';
---

<Layout title="Welcome to Astro.">
	
	<Navigation>
		
	</Navigation>
	<ul>
		<li>
			<a href="/posts/post1"></a>
		</li>
	</ul>
	<Card></Card>
	
</Layout>

<style lang="scss">
	
</style>
