---
import Layout from '../layouts/Layout.astro';
import {UserAdmin as Admin} from '../components/UserAdmin/UserAdmin';
---

<Layout title="User Admin Dashboard">
    
    <a>HI</a>
</Layout>

<style lang="scss">
    
</style>