.card {
    display: flex;  
    position: absolute;
    justify-content: space-between;
    overflow: hidden;
    
    top: 100px;
    li {
        display: inline-block;
        margin: 20px 20px 20px 20px ;
    }
    .cardItem{
        
        border-radius: 25px;
        border: 2px solid rgb(192, 120, 48);
        padding: 20px;
        width: 200px;
        height: 150px;
        
    }
}
ul {
    height: 200px;
    list-style-type: none;
}